body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.citazione {
    font-style: italic;
    font-weight: bold;
}

#p1 {
    font-size: 10px;
}

#p2 {
    font-size: xx-large;
}


#p3 {
    font-size: 2.5em;
}

#h3s {
    text-align: center;
    text-decoration: underline;
}